.type-choose
    position: relative
    width: 100%
    height: 100%
    font-size: 32px
    font-weight: 300
    color: #fff
    .type-list
        background-color: rgba(30, 30, 30, .6)
    .btn-wrapper
        .add-type
            color:#eee;
            font-size: 32px;
            font-weight: 400;
            width: 90vw;
            background-color: rgba(100, 200, 100, .9);
            margin-top: 3vh;