.type-item
    display: flex
    height: 6vh
    justify-content: space-between
    padding: 0 40px
    .type-title
        height: 100%
        line-height: 6vh
        .edt-input
            height: 100%
    .at-icon
        height: 100%   
        line-height: 6vh
        &.choose
            color: rgb(100, 200, 100)
        &.delete
            color: rgb(230, 90, 70)