entirePaddingLeft = 24px
normalSize = 30px
normalWeight = 300
listItemBack = rgba(0, 0, 0, .3)
inputBack = rgba(0, 0, 0, .3)
borderBottom = 1px solid #eee
.addDay 
    color: #ffffff
    width: 100%
    height: 100%
    position: relative
    .add_form 
        height: 100%
        background-color: rgba(0, 0, 0, .5)
        input 
            height: 6vh
            padding-left: entirePaddingLeft
            font-size: normalSize
            font-weight: normalWeight
        .holder
            color: rgb(144, 144, 144)
            font-size: 28px
            font-weight: 300
        .title
            background: inputBack
            border-bottom: borderBottom
        .at-list 
            background-color: listItemBack
            border: none
            font-size: normalSize
            font-weight: normalWeight
            .at-list__item
                color: #fafafa
        .aimDay
            border-bottom: 1px solid #eee
        .type
            border-bottom: borderBottom
        .setTop
            margin-bottom: 20px
        .format
            background-color: listItemBack
            padding-left: entirePaddingLeft
            border-bottom: borderBottom
            .text
                height: 6vh
                line-height: 6vh
                font-size: normalsize 
                font-weight: normalWeight
        .remarks
            .writeArea
                box-sizing: border-box
                width: 100%
                height: 20vh
                padding: 20px 24px 0 24px
                font-size: normalSize
                font-weight: normalWeight 
                background-color: inputBack
        button 
            color:#eee
            font-size: 32px
            font-weight: 400
            width: 90vw
            background-color: rgba(100, 200, 100, .7)
            margin-top: 3vh
            &.btn-delete
                background-color: rgba(230, 90, 70, .7)
            
                


            
            
        
            